[manifest]
version = "1.0.0"
dump_lua = true
priority = 2147483647

# fix a bug that lets mods crash the game without showing a crash log
[[patches]]
[patches.pattern]
target = "main.lua"
pattern = "function love.errorhandler(error_message)"
position = "after"
payload = '''
if love.graphics.getCanvas() then
	love.graphics.setCanvas()
end

loc = loc or {
	get = function(a,b)
		return a
	end
}

inspectVar = inspectVar or require "lib.inspect"

if not (bbp and bbp.utils and bbp.utils.getModList) then
	bbp = {
		utils = {
			getModList = function()
				return "Game crashed before mods could load"
			end
		}
	}
end
'''
match_indent = true
times = 1

# add huge warnings to crash logs so people don't report bugs with a modded game.
[[patches]]
[patches.pattern]
target = "main.lua"
pattern = '''local message = loc.get('crashBody')'''
position = "at"
payload = '''
local message = [[
Beatblock crashed :(
Would you like to create a crash log?

█████████████████████████████████████████
███ DO NOT CONTACT BEATBLOCK DEVELOPERS. YOUR GAME IS MODDED. ███
███ DO NOT CONTACT BEATBLOCK DEVELOPERS. YOUR GAME IS MODDED. ███
███ DO NOT CONTACT BEATBLOCK DEVELOPERS. YOUR GAME IS MODDED. ███
███ DO NOT CONTACT BEATBLOCK DEVELOPERS. YOUR GAME IS MODDED. ███
███ DO NOT CONTACT BEATBLOCK DEVELOPERS. YOUR GAME IS MODDED. ███
█████████████████████████████████████████

You can also try removing your mods one by one to find out which mod is causing the crash.
]]
'''
match_indent = false

[[patches]]
[patches.pattern]
target = "main.lua"
pattern = '''local procCount = love.system.getProcessorCount()'''
position = "before"
payload = '''
issuebody = string.format([[
!!!!!!!!!!!!!!!!! THE GAME IS MODDED. !!!!!!!!!!!!!!!!!
Mod list:
%s
!!!!!!!!!!!!!!!!! THE GAME IS MODDED. !!!!!!!!!!!!!!!!!

%s
]], bbp.utils.getModList(), issuebody)
'''
match_indent = false
